Package: lbc-firmware
Version: 0.0.1
Architecture: all
Maintainer: Embedfire <embedfire@embedfire.com>
Installed-Size: 1
Replaces: linux-firmware, firmware-brcm80211, firmware-ralink, firmware-samsung, firmware-realtek, lbc-firmware
Section: kernel
Priority: optional
Description: Linux firmware
